.App {
  margin-top: 1em;
  text-align: center;
  font-size: 30px;
  
}
body{
  background-color:#e3b986
}

.Table {
  border: 3px ridge black;
  border-collapse: collapse;
  text-align: center;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.th {
  background-color: black;
  color: honeydew;
  border: 3px ridge black;
  border-collapse: collapse;
  height: 80px;
  text-align: right;
}

.islemler{
  font-size: 30px;
  background-color: #ffa400;
  border: 3px ridge black;
  border-collapse: collapse;
  height: 60px;
  text-align: center;
  width: 20%;
}

.rakamlar{
  background-color: darkgray;
  border: 3px ridge black;
  border-collapse: collapse;
  height: 60px;
  text-align: center;
  width: 20%;
}

.button-rakam{
  font-size: 25px;
  font-weight: bold;
  background-color: #373433;
  color: aliceblue;
  text-align: center;
  height: 60px;
  width: 100%;
}
.button-islem{
  font-size: 25px;
  font-weight: bold;
  background-color: sandybrown;
  text-align: center;
  height: 60px;
  width: 100%;
}